@import 'placeholders/card';

:host {
	.container-card {
		@extend %card;
	}

	.card-item {
		&.title {
			font-size: var(--h2-font-size);
			font-weight: bold;
			letter-spacing: 0.1rem;

			&-bold {
				font-weight: bold;
			}
		}

		&:not(:last-child) {
			margin-bottom: var(--margin);
		}
	}
  .responsibility-list {
    list-style-position: outside;
  }

  li {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
}
