@import 'mixins/common.mixin';
@import 'placeholders/card';

:host {
	.container-card {
		@extend %card;
	}

	.item-card {
		align-items: center;
		display: flex;
		list-style-type: none;

		.link {
			@include flex-centered();
		}

		&:not(:last-child) {
			margin-bottom: var(--margin);
		}

		&:hover {
			.logo {
				background-color: var(--hover-link);
			}
		}
	}

	.icon-space {
		margin: 0 var(--margin-s);
	}

	.container-icon {
		@include box(24px);
		@include flex-centered;
	}

  .block-img {
    @include flex-centered;
    width: 100%;
  }
}
